<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.example.ipv6_disable"
        version="0.7.0">

  <name>ipv6_disable</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>


  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="ipv6_disable">
        <param name="android-package" value="com.example.plugin.ipv6_disable"/>
      </feature>
    </config-file>

    <source-file src="src/android/ipv6_disable.java" target-dir="src/com/example/plugin/"/>
  </platform>

</plugin>